
{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
    {% endblock %}

{% block javascripts %}    {{ parent() }}
    {% endblock %} 
{% block body %}    {% block page_title %}
        <header>
            <h1>{% trans from "Admin" %} Справочник по ТК "Ин-тайм" {% endtrans %}</h1>
        </header>
    {% endblock %}
<div class="admin_list main_content">
    <table>
    {% block list_thead %}
        <thead>
            <tr class="list_thead">
                <th class="list_thead_column"></th>
                <th class="list_thead_column"></th>
            </tr>
        </thead>
    {% endblock %}
    {% block list_tbody %}
    <tbody>
        <tr class="list_trow">
        {% block list_row %}
            <td class="td_integer td_id">
                {% block list_td_column_id %} Справочник тарифов на доставку или забор грузов в населенные пункты, где есть представительства "Ин-тайм" {% endblock %}
            </td>
            {% endblock %}
            {% block list_object_actions %}
            <td class="actions">
                <a class="edit " href="{{ path("NitraDeliveryCostBundle_intime_info", { 'type': 'intime-agency' }) }}"</a>
            </td>
        {% endblock %}
        </tr>
        <tr class="list_trow">
        {% block list_row2 %}
            <td class="td_integer td_id">
                {% block list_td_column_id2 %} Справочник тарифов по зонам при доставке "Дверь-дверь" {% endblock %}
            </td>
        {% endblock %}
        {% block list_object_actions2 %}
            <td class="actions">
                <a class="edit " href="{{ path("NitraDeliveryCostBundle_intime_info", { 'type': 'doors-doors' }) }}"</a>
            </td>
        {% endblock %}
        </tr>
        <tr class="list_trow">
        {% block list_row3 %}
            <td class="td_integer td_id">
                {% block list_td_column_id3 %} Справочник тарифов на упаковки {% endblock %}
            </td>
        {% endblock %}
        {% block list_object_actions3 %}
            <td class="actions">
            <a class="edit " href="{{ path("NitraDeliveryCostBundle_intime_info", { 'type': 'package-cost' }) }}"</a>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("td.actions a").click(function(e) {
                        e.preventDefault();

                        if ($(this).data('confirm')) {
                            if(!confirm($(this).data('confirm')))
                              return false;
                        }

                        window.location.href = $(this).attr('href');
                    });
                });
            </script>
         </td>
        {% endblock %}
        </tr>
    </tbody>
{% endblock %}

</table>
</div>

  
{% endblock %}
