
{% extends "::base_admin.html.twig" %}

{% block stylesheets %}    {{ parent() }}
{% endblock %}

{% block javascripts %}    {{ parent() }}
{% endblock %}    
{% block body %}    {% block page_title %}
<header>
    <h1> Редактирование параметров веса и объема </h1>
</header>
{% endblock %}
<div class="admin_list main_content">
<form method="POST"> 
    <table style="table-layout: fixed; width:50%">
        <tr>
            <th> Имя редактируемого значения </th>
            <th> Значение </th>
        </tr>
        {% if params.package_type %}
            <tr>
                <td>Тип груза </td>
                <td><input style="width:96%" type="text" name="params[package_type]" value="{{ params.package_type }}" /></td>
            </tr>
        {% endif %}
        {% if params.weigth_min %}
            <tr>
                <td>Минимальный вес, кг</td>
                <td><input style="width:96%" type="text" name="params[weigth_min]" value="{{ params.weigth_min }}" /></td>
            </tr>
        {% endif %}
        {% if params.weigth_max %}
            <tr>
                <td>Максимальный вес, кг </td>
                <td><input style="width:96%" type="text" name="params[weigth_max]" value="{{ params.weigth_max }}" /></td>
            </tr>
        {% endif %}
        {% if params.size_min %}
            <tr>
                <td>Минимальный объем, м.куб</td>
                <td><input style="width:96%" type="text" name="params[size_min]" value="{{ params.size_min }}" /></td>
            </tr>
        {% endif %}
        {% if params.weigth_max %}
            <tr>
                <td>Максимальный объем, м.куб</td>
                <td><input style="width:96%" type="text" name="params[size_max]" value="{{ params.size_max }}" /></td>
            </tr>
        {% endif %}
    </table>
    <div class="actions">
        <input class="admin_form submit_button" type="submit" value="Save">
        <a class="list " href="{{ path("NitraDeliveryCostBundle_intime_info", {'type': type}) }}">List</a> 
    </div>
</form>
</div>
{% endblock%}